extends layout2
block style
  link(type='text/css' rel='stylesheet' href='/stylesheets/style.css')
  link(type='text/css' rel='stylesheet' href='/theme/madmin-v5.2/vendors/DataTables/media/css/dataTables.bootstrap.css')

block content
  // Modal
  #editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#editModalLabel.modal-title Editor
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
        .modal-body
          input#status.form-control.input-sm(type='hidden' placeholder='' )
          input#sid.form-control.input-sm(type='hidden' placeholder='' )
          table.table.table-striped.table-bordered.table-hover(style='border-bottom:1px solid #ddd')
            thead
              tr
                th Hourly 
                th Daily
                th Monthly
                th Yearly
                th Weekly
            tbody
              tr
                th 
                  input#rd_minutes(type='radio' name='schedule' value='Minutes')
                th 
                  input#rd_hours(type='radio' name='schedule' value='Hours')
                th 
                  input#rd_dom(type='radio' name='schedule' value='DOM')
                th 
                  input#rd_months(type='radio' name='schedule' value='Months')
                th 
                  input#rd_dow(type='radio' name='schedule' value='DOW')
          .form-body.pal.row
            .form-group
              label.col-md-3.control-label Report ID
              .col-md-9
                select#inputReport.form-control.input-sm
                  option(value='') - Please Select -
            .form-group
              label.col-md-3.control-label Email ID
              .col-md-9
                select#inputEmail.form-control.input-sm
                  option(value='') - Please Select -
            .form-group
              label.col-md-3.control-label Next Exec
              .col-md-9
                .input.right
                  input#inputNextExec.form-control.input-sm(type='datetime-local' placeholder='' value='')
            .form-group
              label.col-md-3.control-label Active
              .col-md-9
                select#inputActive.form-control.input-sm
                  option(value='1') Yes
                  option(value='0') No

        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button#btn_save.btn.btn-success(type='button') Save

  #page-wrapper
    // BEGIN TITLE & BREADCRUMB PAGE
    #title-breadcrumb-option-demo.page-title-breadcrumb
      .page-header.pull-left
        .page-title=title
      ol.breadcrumb.page-breadcrumb.pull-left
        li
          i.fa.fa-home
          
          a(href='/b2e/') Home
           
          i.fa.fa-angle-right
          &nbsp;
        li.hidden
          a(href='#')=title
          i.fa.fa-angle-right
        li.active=title

      .clearfix
    // END TITLE & BREADCRUMB PAGE
    // BEGIN CONTENT
    .page-content
      .row
        .col-lg-12
          .portlet.box
            .portlet-header
              .caption Schedules Management
              .btn_insert
                a#btn_insert.btn-sm.btn-success(href='javascript:;' style='margin-left: 20px;')
                  i.fa.fa-plus  
                  |  Add New

            .portlet-body
              .table-responsive
                table#editable.table.table-striped.table-bordered.table-hover(style='border-bottom:1px solid #ddd')
                  thead
                    tr
                      th id 
                      //- <!--Minutes-->
                      th Hourly 
                      //- <!--Hours-->
                      th Daily
                      //- <!--DOM-->
                      th Monthly
                      //- <!--Months-->
                      th Yearly
                      //- <!--DOW-->
                      th Weekly
                      th Report ID
                      th Email ID
                      th Create Date
                      th Next Exec
                      th Last Exec
                      th Active
                      th Edit
                      th Delete
                  tbody


block script
  script(src='/theme/madmin-v5.2/vendors/DataTables/media/js/jquery.dataTables.js')
  script(src='/theme/madmin-v5.2/vendors/DataTables/media/js/dataTables.bootstrap.js')
  script(src='/theme/madmin-v5.2/vendors/DataTables/jquery.jeditable.js')
  script(src='/theme/madmin-v5.2/js/table-editable.js')

  script(src='/javascripts/b2e/schedules.js')
    